.split {
  height: 100%;
  position: fixed;

  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  width: 25%;
  background-image: linear-gradient(rgb(175, 136, 247),rgb(255, 192, 231));
}

.right {
  right: 0;
  width:75%;
  background-color:rgb(210, 176, 230); 
}
.button{
  padding:12px;
  border: 1px solid black;
  width:120px;
  text-align:center;
  display:flow-root;
  font-size:16px;
  cursor: pointer;
  margin-left: 110px;
  margin-top: 170px;
}
.button1{
  background-color: rgb(233, 236, 247);
  color:black;
}
.button1:hover{
  background-color: rgb(137, 163, 247);
  color:white;
  border: 1px solid powderblue;
}
.button2{
  background-color: rgb(233, 236, 247);
  color:black;

}
.button2:hover{
  background-color: rgb(137, 163, 247);
  color:white;
  position: static;
  border: 1px solid powderblue;
}
.grid-container {
  display: grid;
  margin-right: 10%;
  margin-left: 10%;
  grid-template-columns: auto auto auto auto auto;
  background-color:rgb(238, 130, 193);
  padding: 2px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
}
.item1{
  grid-column: 4/6;
}

.head{
  margin-left: 10%;
  font-size: 25px;
  margin-top: 5%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-self: center;
}

.form{
  margin-left: 10%;
  height: 35%;
  width: 27%;
  padding: 5%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(rgb(247, 136, 247),white,pink);
}
.label{
  padding: 10px; 
  font-size: 25px;
  height: 30px;
}

.label2{
  margin-left: 25px;}
.label1{
  margin-left: 0.9%;

}

.add{
  padding: 1.5% 1.5%;
  margin-left: 260px;
  margin-top: 12px;

}
